<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="mm.dd.tools">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="HOOK ZFB DETECT"/>
        <meta-data
            android:name="xposedminversion"
            android:value="30"/>
    </application>
</manifest>
